.contact-area {
    margin-top: 90px;
    margin-bottom: 90px;
}
.form-label {
    font-size: 22px;
    font-weight: 700;
}
.btn-primary{
    background-color: #189cf0;
    border-color: #189cf0;
}
.row {
    margin-top: 30px !important;
    margin-bottom: 40px !important;
}